# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env
.DS_Store

# Logs and PIDs
logs/
*.log
.asck_*.pid

# Node
node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/

# Testing
.coverage
htmlcov/
.pytest_cache/

# Internal Documentation
DEV_NOTES.md

Perplexica/
searxng/
justforreference/